*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.1s ease-in;
}
body{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.title{
    text-align: center;
    margin-bottom: 20px;
}
.main-container{
    width: 400px;
    background:rgb(192, 172, 172);
    border-radius: 10px;
    padding: 20px 20px;
}
.input-conteiner{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
input{
    outline: none;
    padding: 12px 17px;
    border:1px solid rgb(196, 187, 187);
    margin-bottom: 5px;
    width: 100%;
}
.btn-signIn{
    width: 100%;
    background: linear-gradient(45deg, black, transparent);
    margin-top: 20px;
    transition: all 1s ease-in;
}
.btn-signIn:hover{
    background: linear-gradient(45deg,transparent, black);  
}
.btn{
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    outline: none;
}
a{
    text-decoration: none;
    color: black;
}
.link-hover:hover{
    color:#53575e;
}
.conteiner-register-auth{
    margin-top: 5px;
}
.conteiner-register-auth{
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
}
.profile-container{
    display: flex;
    justify-content: center;
    align-items:center;
    
}
#profile-user-name{
    margin-left: 20px;
    color:#515855;
}
.btn-exit:hover{
    background-color: #877474;
}
.btn-exit{
    margin-left: 10px;
}
.error-border{
    border: 1px solid rgba(245, 4, 4, 0.667);
}
.validation-error{
    margin-bottom: 2px;
}